<footer class="bg-primary footer">
    <div fxLayout="column" fxLayout.gt-sm="row wrap" fxLayoutAlign="center center" class="border-bottom-mute subscribe-block theme-container">
        <div fxFlex="100" fxFlex.gt-sm="40" fxLayout="column" fxLayoutAlign="center center"> 
            <h1 class="fw-500">I-WAY</h1>
            <h3 class="fw-300 secondary-color">Intelligence way</h3>
        </div>
       
    </div>
    
    <div fxLayout="row" fxLayout.xs="column" fxLayoutAlign="space-between center" class="copyright secondary-color theme-container">
        <p ngClass.xs="mt-1">Copyright © 2020 All Rights Reserved</p>
        <p>Designed & Developed by <a mat-button  target="_blank">Salsal</a></p>
    </div>
</footer>